@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #191511;
}

.primary-color {
    color: #B25900;
}

.primary-bg {
    background-color: #B25900;
}

.secondary-bg {
    background-color: #191511;
}

.banner {
    background-image: url("/banner.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}